@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.primary-font-quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.secondary-font-raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* shared styles */
.primary-font-weight {
  font-weight: 700;
}

.secondary-font-weight {
  font-weight: 500;
}

.display-flex {
  display: flex;
  gap: 11px;
}

.display-grid {
  display: grid;
}

/* body-margin styles */
.body-margin {
  margin: 0 2px;
}

/* navbar-section styles */
.navbar-section {
  justify-content: space-around;
}

.logo-heading {
  margin-left: 11px;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
}

.menu {
  gap: 32px;
}

.menu,
#menu-contact {
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.menu span a,
#menu-contact {
  text-decoration: none;
}

#menu-home {
  color: rgba(254, 163, 1, 1);
}

#menu-about {
  color: rgba(1, 172, 253, 1);
}

#menu-facilities {
  color: rgba(5, 212, 223, 1);
}

#menu-admission {
  color: rgba(93, 88, 239, 1);
}

#menu-contact {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(254, 163, 1, 1);
  width: 197px;
  height: 50px;
  border-radius: 12px;
  border: none;
}

#menu-icon {
  display: none;
}

/* banner-section styles */
.banner-section {
  width: 1158.61px;
  height: 575px;
  /* margin-left: 141px;
  margin-right: 140.39px; */
}

.banner-section-text {
  margin-top: 122px;
  margin-bottom: 122px;
  margin-left: 90px;
}

#Empowering {
  color: rgba(254, 163, 1, 1);
  font-size: 3.5rem;
}

#students-from-small,
#age {
  color: rgba(17, 17, 17, 1);
  font-size: 3.5rem;
  margin-right: 4.5px;
}

#towards-vision {
  color: rgba(1, 172, 253, 1);
  font-size: 3.5rem;
}

.banner-section-description {
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(17, 17, 17, 1);
}

.enroll {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 17, 17, 1);
  border-radius: 12px;
  border: none;
  width: 197px;
  height: 50px;
  margin-top: 24px;
  font-size: 1.25rem;
  padding: 10px 47px;
}

/* standard curriculum styles   */

.start-standard-curriculum {
  margin-left: 95px;
  background-image: url(../assets/bg.png);
}

.standard-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.standard-curriculum {
  justify-content: space-around;
  gap: 28.29px;
}

.common-card {
  border-radius: 18.86px;
}

/* our story style  */

.our-stories {
  margin-left: 95px;
  background-image: url(../assets/bg.png);
}

.November-19-2019 {
  background-color: rgba(60, 216, 232, 1);
  border-radius: 47.93px;
  margin-bottom: 33.59px;
  transform: translateY(-15px) translateX(15px);
  color: rgba(255, 255, 255, 1);
  width: 174.51px;
  height: 47.93px;
  border: none;
}

.com-col {
  color: rgba(149, 178, 38, 1);
}

#dif {
  color: rgba(93, 88, 240, 1);
}

.story-block {
  display: flex;
  gap: 19.17px;
}

.story-block-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19.17px;
}

.view-all {
  text-align: center;
  margin: 90px 170px 60px 380px;
}

/* footer style */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.style-list {
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
}

.logo-style {
  display: flex;
  margin-bottom: 35.35px;
}

.footer {
  margin-left: 95px;
}

/* responsive for mobile devices */

@media screen and (max-width: 576px) {
  .logo-heading,
  .menu,
  #menu-contact {
    display: none;
  }

  #menu-icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-section {
    flex-direction: column;
  }

  .banner-section-text {
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
  }

  .banner-section-heading,
  #Empowering,
  #students-from-small,
  #age,
  #towards-vision {
    font-size: 0.8rem;
    /* width: 357px;
    height: 120px; */
  }
  .banner-section-description {
    font-size: 0.8rem;
    font-weight: 500;
  }
  #age {
    margin-right: 0px;
  }

  .banner-section {
    width: 357px;
    height: 725px;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .width-responsive-img {
    transform: scale(0.6) translateY(320px) translateX(-20px);
  }
  .banner-section-text {
    transform: translateX(-20px);
  }

  .enroll {
    width: 131px;
    height: 42px;
    font-size: 1rem;
    padding: 6px 24px;
    border-radius: 8px;
  }

  .body-margin {
    margin: 0 0;
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .story-block {
    flex-direction: column;
  }

  .story-block-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .standard-curriculum {
    flex-direction: column;
  }
  .standard-curriculum image {
    width: calc(100% - 8%);
  }

  .read-more {
    display: none;
  }

  .hide-card {
    display: none;
  }
}
