@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.primary-font-quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.secondary-font-raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* shared styles */
.primary-font-weight {
  font-weight: 700;
}

.secondary-font-weight {
  font-weight: 500;
}

.display-flex {
  display: flex;
  gap: 11px;
}

.display-grid {
  display: grid;
}

/* navbar-section styles */
.navbar-section {
  justify-content: space-around;
}

.logo-heading {
  margin-left: 11px;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
}

.menu {
  gap: 32px;
}

.menu,
#menu-contact {
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.menu span a,
#menu-contact {
  text-decoration: none;
}

#menu-home {
  color: rgba(254, 163, 1, 1);
}

#menu-about {
  color: rgba(1, 172, 253, 1);
}

#menu-facilities {
  color: rgba(5, 212, 223, 1);
}

#menu-admission {
  color: rgba(93, 88, 239, 1);
}

#menu-contact {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(254, 163, 1, 1);
  width: 197px;
  height: 50px;
  border-radius: 12px;
  border: none;
}

#menu-icon {
  display: none;
}

@media screen and (max-width: 576px) {
  .navbar-section {
    justify-content: space-around;
  }

  .logo-heading,
  .menu,
  #menu-contact {
    display: none;
  }

  #menu-icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
